@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NEXT BOOK";
  src: url("/font/NEXT/NEXT-Book-Regular.otf");
}

@font-face {
  font-family: "Neue Machina";
  src: url("/font/Neue/neuemachina-regular.otf");
}

@layer base {
  html {
    font-family: "NEXT BOOK";
  }
}
